extends ../main-layout
block content
    form.login-form(action="/auth/login" method='POST')
        div.field
            label.label= 'Username'
            input#username.input(type="text", name="username")
        div.field
            label.label= 'Password'
            input#password.input(type="password", name="password")
        div.field
            button.button.is-primary(type="submit") Login