header#header
    nav.navbar(role='navigation' aria-label='main navigation')
        div.navbar-menu
            div.navbar-start
                a.navbar-item(href='/') Home
                a.navbar-item(href='/cart') Cart
                a.navbar-item(href='/orders') Orders
            div.navbar-end
                div.navbar-item
                    div.buttons
                        a.button.is-primary(href='/admin') Admin Login
