header#header
    nav.navbar(role='navigation' aria-label='main navigation')
        div.navbar-menu
            div.navbar-start
                a.navbar-item(href='/') Home
                if isLoggedIn
                    a.navbar-item(href='/cart') Cart
                    a.navbar-item(href='/orders') Orders
            div.navbar-end
                div.navbar-item
                    div.buttons
                        if !isLoggedIn
                            a.button.is-primary(href='/auth/login') Login
                            a.button.is-primary(href='/auth/register') Register
                        else
                            a.button.is-primary(href='/admin') Admin
                            form(action="/auth/logout" method='POST') 
                                input.input(type="hidden", name="_csrf" value=csrfToken)
                                button(type="submit").button.is-primary Logout
                            
                            
