head
    title= pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset="utf-8")
    link(rel='icon' type='image/png' href='/static/images/favicon.ico')
    link(rel='stylesheet' href='/static/css/mystyles.css')
    link(rel='stylesheet' href='/static/css/header.css')
    link(rel='stylesheet' href='/static/css/main.css')
