$flex-direction-values: row , row-reverse , column , column-reverse;
$flex-wrap-values: nowrap , wrap , wrap-reverse;

@each $dir in $flex-direction-values{
  .f-dir-#{$dir}{
    flex-direction: $dir;
  }
}

@each $wrap in $flex-wrap-values{
  .f-wrap-#{$wrap}{
    flex-wrap: $wrap;
  }
}
