doctype html
html
    include includes/head

    body
        include includes/header
        main#main-content.main-content.container
            block content
        include includes/footer
